@import url(productos.css);
@import url(formulario.css);

body{
    font-family: "Lexend", sans-serif;
    background-color: #E3FEF7;
    color: #135D66;
}

header{
    background-color: #003C43;
    color:#fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-top: 60px
}

h1{
    font-size: 30px;
}

footer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #fff;
    background-color: #003C43;
}

.mensaje-error {
    display: block;
    margin-top: 5px;
    font-weight: 400;
    font-style: italic;
    font-size: 70%;
    color: red;
}


/*Tablet*/
@media (max-width: 768px) {
    main {
        flex-direction: column-reverse;
        align-items: center;
    }
    .div__formulario{
        width: 90%;
    }

    .section__productos{
        width: 50%;
    }
    
}

/*Mobile*/
@media (max-width: 425px) {
    
    main {
        flex-direction: column-reverse;
        align-items: center;
    }

    .div__formulario{
        width: 90%;
    }

    .input__form{
        width: 90%;
        height: 90%;
    }

    .div__botones{
        width: 80%;
        height: 80%;
        gap: 10px;
    }

    .boton__form{
        width: 50%;
    }

    .section__productos{
        width: 50%;
    }

    .card{
        width: 40%;
        height: 25%;
        align-items: center;
    }

    .card img{
        width: 80%;
    }
    
    .mensaje-error {
        font-size: 50%;
    }
}